.alert-box {
  position: fixed;
  background: white;
  right: 20px;
  bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px grey;
  border-left: 5px solid rgb(214, 0, 0);
  padding: 30px 70px;
  min-height: 10px;
  color: rgb(80, 80, 80);
}