.alert-box {
  position: fixed;
  background: white;
  right: 40px;
  bottom: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px grey;
  padding: 30px 60px 30px 50px;
  min-height: 10px;
  animation: 0.5s fadeIn;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.alert-box.error {
  border-left: 10px solid rgb(255, 129, 129);
}
.alert-box.success {
  border-left: 10px solid rgb(78, 255, 102);
}

.alert-box span {
  color: rgb(80, 80, 80);
  font-size: 17px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}