.landing {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #3E92CC;
  color: #FFFFFF;
}
.title {
  font-family: 'Patua One', cursive;
  letter-spacing: 1px;
  font-size: 40px;
}